.topHd {
    justify-content: start;
    height: auto;
}

.topHd .backBtn {
    display: flex;
    align-items: center;
}

.backBtn {
    width: max-content;
    height: 63px;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    color: #000;
    box-shadow: 0 0 0 1px #aeaeb2;
    padding: 0 16px;
    border: none;
    background-color: #f8f8f8;
    cursor: pointer;
    transition: .3s ease;
    text-decoration: none;
}

.backBtn:hover {
    background-color: #e10b17;
}

.backBtn .arrowBack {
    margin-right: 5px;
    font-size: 1.8rem;
    color: black;
}